.spot1 {
    position: absolute;
    left: 43%;
    top: 26%;
}

.spot2 {
    position: absolute;
    left: 50%;
    top: 50%;
}

.circle1 {
    border: 2px solid $blue;
    transition: border .7s;

    &.open { 
        border: none;
        cursor: pointer;
        transform: scale( 2 );

        .circle2 {
            transform: scale( 1.3 );
        }
    }

    &:hover {
        border: none;
        cursor: pointer;
        transform: scale( 2 ); 

        .circle2 {
            transform: scale( 1.3 );
        }
    }
}

.circle1,
.circle2,
.circle3,
{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1, .circle2 {
  @include circle(30px);
}
.circle3 {
    @include circle(10px);
    background-color: #5082ff;
}

.line,
.line2,
.box,
.box2, {
  transition: all 0.25s ease-in-out;
}

.box {
    @include popUp();
    @include width-height(38%, 0px);
    @include box();
    top: 6%;
    left: 16%;
    &.open {
        @include height-opacity(11rem, 1);
        padding: 10px 10px;
    }
}

.box2 {
  @include popUp();
  @include width-height(38%, 0px);
  @include box();
  top: 30%;
  left: 22%;
  &.open {
    @include height-opacity(11rem, 1);
    padding: 10px 10px;
  }
}

.item-num {
    font-family: lato;
    background-color: #5082ff;
    display: inline;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
}

.popUpTitle {
    border-bottom: 5px solid $blue;
    width: 19rem;
    padding-bottom: 1rem;
    font-family: Lato;
    letter-spacing: 2px;
}