$blue : #5082ff;
@import "_mixins";
@import "pop-ups";
@import "hvr-effects";


body {
    font-family: Comfortaa !important;

    button, input, optgroup, select, textarea {
        font-family: Quicksand !important;
    }
}

a {
    transition: all .5s;
}

header.container-fluid {
    background-image: url(./img/backgroundHeader2.jpg);
    background-position: 0% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.header-2 {
    font-family: Lato;
    word-spacing: 5px;
}

.btn {
    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        box-shadow: none !important;
    }
}

.button-img {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 94%;
    right: 45%;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    img {
        width: 50%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
        border-radius: 83%;
        transition: box-shadow .5s;
    }
}

.fa-shopping-cart {
    font-size: 2.3em;
}
