$blue   : #5082ff;
$red    : #FE5A7F;
$purple : #7D7DC5;

@import "_mixins";
@import "typography";
@import "pop-ups";
// @import "hvr-effects";


body {
    font-family: Comfortaa !important;

    button, input, optgroup, select, textarea {
        font-family: 'Quicksand', sans-serif !important;
    }
}

a {
    transition: all .5s;
}

nav { 

    &.nav-bg {
        background: rgba(0, 0, 0, 0);
        transition: all .5s;
    }

    &.scrolling {
        background: rgba(254, 90, 127, 0.7);

        li.nav-item {
        margin-left: 1rem;
 
        a.nav-link {
            color: white !important;
            &:hover {
                color: white;
            }
        }
    }

        .hvr-underline-from-center:before {
            background: white !important;
        }
    }

    li.nav-item {
        margin-left: 1rem;
 
        a.nav-link {
            color: white !important;
            &:hover {
                color: white;
            }
        }
    }
}

header.container-fluid {
    background-image: url(./img/backgroundHeader2.jpg);
    // background-attachment: fixed;
    // background-position: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: 100% 100%;
    position: relative;
    height: 90vh;
    top: -64px;

}

.btn {
    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        box-shadow: none !important;
    }
}

.button-img {
    background-color: transparent;
    display: flex !important;
    position: absolute;
    border: none;
    left: 45.8%;
    top: 94%;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    img {
        width: 50%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
        border-radius: 83%;
        transition: box-shadow .5s;
    }
}

.fa-shopping-cart {
    font-size: 2.3em;
}

.round-btn {
    border-radius: 20px !important;
}

.bg-red {
    background-color: $red;
}

.bg-blue {
    background-color: $blue;
}

.bg-purple {
    background-color: $purple;
}

.bg-red,
.bg-blue,
.bg-purple {
    height: 35rem;
    p { color: white}
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
        border-radius: 50%
    }
}

.hvr-underline-from-center:before {
    background: $blue !important;
}

footer {
    .input-group {
        height: 3em;
        
        .afterSubmitClick {
            padding: 0 0 !important;
            width: 0;
            transition: all .5s .5s;
        }

        .input-group-btn {
            width: 50%;
            transition: width 1s;

            &.x {
                width: 100% !important;
            }

            button {
                font-family: 'Comfortaa', cursive !important;
            }
        }
    }

    p.footer {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px;
        
        span.heartbeat { animation: heartbeat 2s linear infinite; }
    }
}

@keyframes heartbeat {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  28% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartbeat {
    -webkit-animation: heartbeat 2s linear infinite;
    -moz-animation: heartbeat 2s linear infinite;
    -ms-animation: heartbeat 2s linear infinite;
    -o-animation: heartbeat 2s linear infinite;
    animation: heartbeat 2s linear infinite;
}





// Large devices (desktops, 992px and up)
@media only screen and  (max-width: 992px) { 
     header.container-fluid {
        background-position: -231px 30%;
        background-size: 140% 100%;
    }

    .box {
        top: 12%;
        left: 18%;
        width: 60%;
    }

    .spot1 {
        left: 33%;
        top: 26%;
    }

    .spot2 {
        position: absolute;
        left: 40%;
        top: 50%;
    }

    .box2 {
        top: 30%;
        left: 22%;
        width: 60%;
    }
 }

 // Medium devices (tablets, 768px and up)
@media only screen and  (max-width: 768px) { 

    header.container-fluid {
        background-position: -231px 30%;
        background-size: 174% 100%;
    }

    .box {
        top: 12%;
        left: 22%;
        width: 60%;
    }

    .spot1 {
        left: 35%;
        top: 26%;
    }

    .spot2 {
        position: absolute;
        left: 44%;
        top: 45%;
    }

    .box2 {
        top: 30%;
        left: 25%;
        width: 50%;
    }

    .button-img {
        left: 44%;
    }

 }

 // Small devices (landscape phones, 576px and up)
@media only screen and  (max-width: 576px) { 

    header.container-fluid {
        background-position: -200px 30%;
        background-size: 280% 100%;
    }

    .box {
        top: 22%;
        left: 10%;
        width: 60%;
    }

    .spot1 {
        left: 19%;
        top: 26%;
    }

    .spot2 {
        position: absolute;
        left: 10%;
        top: 50%;
    }

    .box2 {
        top: 50%;
        left: 1%;
        width: 60%;
    }

    .button-img {
        left: 40%;
    }

    nav {
        &.nav-bg {
            background: rgba(254, 90, 127, 0.7);
            transition: all .5s;
        }
    }

 }

// Extra- Small devices (landscape phones, 576px and up)
@media only screen and  (max-width: 400px) { 

    header.container-fluid {
        background-position: -241px 30%;
        background-size: 320% 100%;
    }

    .box {
        top: 20%;
        left: 7%;
        width: 68%;
    }

    .spot1 {
        position: absolute;
        left: 13%;
        top: 26%;
    }

    .button-img {
        left: 40%;
    }

 }