$blue   : #5082ff;
$red    : #FE5A7F;
$purple : #7D7DC5;

@import "_mixins";
@import "typography";
@import "pop-ups";
// @import "hvr-effects";


body {
    font-family: Comfortaa !important;

    button, input, optgroup, select, textarea {
        font-family: Quicksand !important;
    }
}

a {
    transition: all .5s;
}

nav { 

    &.nav-bg {
        background: rgba(0, 0, 0, 0.2)
    }

    &.scrolling {
        background: rgba(0, 0, 0, 0.5)
    }

    li.nav-item {
        margin-left: 1rem;
 
        a.nav-link {
            color: white !important;
            &:hover {
                color: white;
            }
        }
    }
}

header.container-fluid {
    background-image: url(./img/backgroundHeader2.jpg);
    background-position: 0% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    top: -64px;
    // z-index: -100;
}

.btn {
    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        box-shadow: none !important;
    }
}

.button-img {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 94%;
    right: 45%;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
    img {
        width: 50%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
        border-radius: 83%;
        transition: box-shadow .5s;
    }
}

.fa-shopping-cart {
    font-size: 2.3em;
}

.round-btn {
    border-radius: 20px !important;
}

.bg-red {
    background-color: $red;
}

.bg-blue {
    background-color: $blue;
}

.bg-purple {
    background-color: $purple;
}

.bg-red,
.bg-blue,
.bg-purple {
    height: 35rem;
    p { color: white}
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
        border-radius: 50%
    }
}

.hvr-underline-from-center:before {
    background: $blue !important;
}
