p {
  color: #666666; }

.quicksand {
  font-family: Quicksand !important; }

.comfortaa {
  font-family: Comfortaa !important; }

.lato {
  font-family: Lato !important; }

.header-2 {
  font-family: 'Lobster 1.4';
  word-spacing: 5px;
  color: #4d4d4d; }

.container-fluid .header-2 {
  color: white;
  text-align: center; }

.box p, .box2 p {
  color: white; }

.text-justify {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.spot1 {
  position: absolute;
  left: 43%;
  top: 26%; }

.spot2 {
  position: absolute;
  left: 50%;
  top: 50%; }

.circle1 {
  border: 2px solid #5082ff;
  transition: border .7s; }
  .circle1.open {
    border: none;
    cursor: pointer;
    transform: scale(2); }
    .circle1.open .circle2 {
      transform: scale(1.3); }
  .circle1:hover {
    border: none;
    cursor: pointer;
    transform: scale(2); }
    .circle1:hover .circle2 {
      transform: scale(1.3); }

.circle1,
.circle2,
.circle3 {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.circle1, .circle2 {
  width: 30px;
  height: 30px;
  background-color: rgba(251, 251, 255, 0.2);
  transition: all .7s; }

.circle3 {
  width: 10px;
  height: 10px;
  background-color: rgba(251, 251, 255, 0.2);
  transition: all .7s;
  background-color: #5082ff; }

.line,
.line2,
.box,
.box2 {
  transition: all 0.25s ease-in-out; }

.box {
  margin: 0 auto;
  display: block;
  position: relative;
  opacity: 0.2;
  border-radius: 5px;
  width: 38%;
  height: 0px;
  text-align: left;
  line-height: 30px;
  color: white;
  overflow: hidden;
  top: 6%;
  left: 16%; }
  .box.open {
    height: 11rem;
    opacity: 1;
    padding: 10px 10px; }

.box2 {
  margin: 0 auto;
  display: block;
  position: relative;
  opacity: 0.2;
  border-radius: 5px;
  width: 38%;
  height: 0px;
  text-align: left;
  line-height: 30px;
  color: white;
  overflow: hidden;
  top: 30%;
  left: 22%; }
  .box2.open {
    height: 11rem;
    opacity: 1;
    padding: 10px 10px; }

.item-num {
  font-family: lato;
  background-color: #5082ff;
  display: inline;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem; }

.popUpTitle {
  border-bottom: 5px solid #5082ff;
  width: 19rem;
  padding-bottom: 1rem;
  font-family: Lato;
  letter-spacing: 2px; }

body {
  font-family: Comfortaa !important; }
  body button, body input, body optgroup, body select, body textarea {
    font-family: Quicksand !important; }

a {
  transition: all .5s; }

nav.nav-bg {
  background: red; }
nav.scrolling {
  border: 5px solid #5082ff; }
nav li.nav-item {
  margin-left: 1rem; }
  nav li.nav-item a.nav-link {
    color: white !important; }
    nav li.nav-item a.nav-link:hover {
      color: white; }

header.container-fluid {
  background-image: url(./img/backgroundHeader2.jpg);
  background-position: 0% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  top: -64px; }

.btn:hover, .btn:focus {
  cursor: pointer;
  outline: none;
  box-shadow: none !important; }

.button-img {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 94%;
  right: 45%; }
  .button-img:focus {
    outline: none; }
  .button-img:hover {
    cursor: pointer; }
  .button-img img {
    width: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 83%;
    transition: box-shadow .5s; }

.fa-shopping-cart {
  font-size: 2.3em; }

.round-btn {
  border-radius: 20px !important; }

.bg-red {
  background-color: #FE5A7F; }

.bg-blue {
  background-color: #5082ff; }

.bg-purple {
  background-color: #7D7DC5; }

.bg-red,
.bg-blue,
.bg-purple {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .bg-red p,
  .bg-blue p,
  .bg-purple p {
    color: white; }
  .bg-red img,
  .bg-blue img,
  .bg-purple img {
    border-radius: 50%; }

.hvr-underline-from-center:before {
  background: #5082ff !important; }

/*# sourceMappingURL=App.css.map */
